html {
  scroll-behavior: smooth;
}
body{
  font-family: $avenir, sans-serif;
  overflow-x: hidden;
  // font-size: 0.9rem;
  font-size: 1.1rem;
  color: $gray-md;
}

.bg{
  &-blue-dk{
    background-color: $bg-navy;
  }
  &-smoke{
    background-color: $bg-gray;
  }
  &-gradient{
    background-image: $bg-gradient;
  }
}


.w{
  &-70{
    width: 70%;
  }
  &-80{
    width: 80%;
  }
}

.no-margin-b{
  p{
    margin-bottom: 0;
  }
}


.modal{
  background-color: $purple-over;
}


.readmore{
  .more{
    display: none;
  }
  .less{
    display: block;
  }
}

.readmore.collapsed{
  .more{
    display: block;
  }
  .less{
    display: none;
  }
}

.form-control{
  background-color: transparent;
  border-radius: 0;
  color: white;
  &::placeholder{
    color:white;
  }
  &:focus{
    background-color: transparent;
    color: white;
    outline:0;
    box-shadow: 0 0 0 1px white;
  }
}

.top-bar{
  height: 140px;
}


.owl-dots{
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  .owl-dot{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    margin: 0 0.3rem;
    opacity: 0.5;
    background-color: white;
    &.active{
      opacity: 1;
    }
    &:focus{
      outline: 1px solid transparent;
      box-shadow: 0 0 1px 1px white;
    }
  }
}

.founders-button{
  position: fixed;
  z-index: 100;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
  display: none;
  img{
    max-width: 100px;
  }
  @include responsive-lg{
    bottom: 2rem;
    right: 2rem;
    img{
      max-width: 120px;
    }
  }
}

.grecaptcha-badge{
  display: none;
}


.pulse {
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

.breathing{
  animation: breathing 5s ease-out infinite normal;
}

@keyframes breathing {
  0% {
    transform: scale(0.8);
  }

  25% {
    transform: scale(1.1);
  }

  60% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(0.8);
  }
}

