.bt{
  padding: .375rem .75rem;
  display: block;
  min-width: 145px;
  margin: 0 auto;
  &-ghost{
    border-radius: 0;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    transition: .35s;
    &:hover{
      background-color: white;
      color: $c-primary;
      transition: .35s;
      text-decoration: none;
    }
    &_blue{
      border-color: $c-primary;
      color: $c-primary;
      width: 5rem;
      transition: .35s;
      &:hover{
        background-color: $c-primary;
        color: white;
        transition: .35s;
        text-decoration: none;
      }
    }
  }
}

.no-focus{
  &:focus {
    outline:0;
  }
}
