.site-header{
  transition: .35s;
  &.active{
    background-color: $bg-navy;
    transition: .35s;
    #link-join-lucy{
      color: white;
    }
    p{
      color: white;
    }
    .button_container{
      span{
          background: white;
      }
    }
  }
  #link-join-lucy{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    text-decoration: none;
    color: $c-secondary;
    &:hover, &:active{
      color: $purple;
    }
  }
  p{
    color: $c-primary;
  }
  &.inHome{
    p{
      color: white;
    }
    .button_container{
      span{
          background: white;
      }
    }
    #link-join-lucy{
      color: white;
    }
  }
  .site-branding{
    .logo{
      max-width: 65px;
    }
  }
  .lucy-btn{
    justify-content: flex-end;
  }
}

///////////////////// MOB ///////////
.mobile-header{
  z-index: 200;
  position: fixed;
  width: 100%;
  .fa{
    color: white;
  }
  .button_container{
    width: 27px;
    span{
      height: 2px;
      background-color: white;
    }
  }
  &.outHome{
    .fa{
      color: $c-primary;
    }
    span{
      background-color: $c-primary;
    }
  }
}
///////////////////// MOB ///////////

.button_container {
  position: relative;
  height: 27px;
  width: 37px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;

  &:hover {
    opacity: .7;
  }

  &.active {
    .top {
      transform: translateY(11px) translateX(0) rotate(45deg);
      background: white;
    }
    .middle {
      opacity: 0;
      background: white;
    }
    .bottom {
      transform: translateY(-11px) translateX(0) rotate(-45deg);
      background: white;
    }
    p{
      color: white;
    }
  }

  span {
  background: $c-primary;
  border: none;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition:  all .35s ease;
  cursor: pointer;
    &:nth-of-type(2) {
      top: 11px;
      width: 70%;
    }
    &:nth-of-type(3) {
      top: 22px;
    }
  }
  p{
    position: absolute;
    left: 50px;
    top: 5px;
    font-size: 1.1rem;
  }
}

.overlay {
  z-index: 100;
  position: fixed;
  background: $bg-navy;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;

  &.open {
    opacity: 1;
    visibility: visible;
    height: 100%;

    li {
      animation: fadeInRight .5s ease forwards;
      animation-delay: .35s;

      &:nth-of-type(2) {
        animation-delay: .4s;
      }
      &:nth-of-type(3) {
        animation-delay: .45s;
      }
      &:nth-of-type(4) {
        animation-delay: .50s;
      }
      &:nth-of-type(5) {
        animation-delay: .55s;
      }
      &:nth-of-type(6) {
        animation-delay: .60s;
      }
      &:nth-of-type(7) {
        animation-delay: .65s;
      }
    }
  }
  nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 35px;
    font-family: $calibre;
    font-weight: 600;
    text-align: center;
    @include responsive-lg{
      top: 56%;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    li {
      display: block;
      position: relative;
      opacity: 0;
      padding-bottom: 1rem;
      a {
        display: block;
        position: relative;
        color: white;
        text-decoration: none;
        overflow: hidden;
        text-transform: uppercase;
        &:hover:after,
         &:focus:after,
         &:active:after {
           width: 100%;
         }
        &:hover{
          color: $purple;
          transition: .35s;
        }
      }
    }
  }

}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
