.cover-page{
  background-size: cover;
  overflow: hidden;
  position: relative;
  .shape{
    position: absolute;
    width: 50%;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 5;
  }
  .container{
    z-index: 20;
    position: relative;
    // pointer-events: none;
  }
  .slider-nav{
    width: 100%;
    display: flex;
    justify-content: center;
    .owl-prev, .owl-next{
      background-color: transparent;
      width: 48px;
      height: 48px;
      font-size: 2rem;
      color: white;
      border: none;
      display: flex;
    justify-content: center;
    align-items: center;
    }
    button:focus {
      outline: none
    }
  }
}

#homecover, #home_slider_two--image{
  width: 100%;
  height: 100%;
  position: absolute;
  .item{
    &_img{
      width: 100%;
      height: 100vh;
      background-position: center;
      background-size: cover;
      .author{
        position: absolute;
        color: white;
        bottom: 2rem;
        left: 2rem;
        font-size: 0.65rem;
      }
    }
  }
}

#copySlider, #home_slider_two--copy{
  width: 100%;
  .owl-dots{
    padding-top: 2rem;
    .owl-dot{
      background-color: white;
    }
  }
}

#copyMobSlider, #home_slider_two--copy-mob{
  .owl-dots{
    padding-top: 1rem;
    .owl-dot{
      background-color: white;
    }
  }
}


///////////////////// MOB ///////////
.mobile-cover{
  background-color: $bg-navy;
  height: 100vh;
  position: relative;
  overflow: hidden;
  .shape{
    position: absolute;
    bottom: 0;
    margin: auto;
    z-index: 5;
    width: 110%;
    left: -10%;
    right: -10%;
    opacity: 0;
  }
  .copy{
    .title{
      .line{
        &-b{
          margin-top: 0.5rem;
        }
      }
    }
    position: relative;
    z-index: 10;
    height: 100%;
    h1{
      font-size: 1.2rem;
      line-height: 1rem;
    }
    p{
      font-size: 0.9rem;
    }
  }
  .gradient-square{
    background: $bg-gradient;
    clip-path: polygon(50% 0%, 100% 10%, 100% 100%, 0 100%, 0 10%);
    position: absolute;
    width: 100%;
    height: 40vh;
    bottom: 0;
    margin: auto;
    right: 0;
    z-index: 5;
    @include responsive-sm{
      height: 45vh;
    }
  }
}

#mobslide, #home_slider_two--image-mob{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  .item{
    &_img{
      width: 100%;
      height: 70vh;
      background-position: center;
      background-size: cover;
      .author{
        position: absolute;
        color: white;
        left: 1rem;
        bottom: 15%;
        font-size: .5rem;
        transform: rotate(-90deg);
        transform-origin: left;
      }
    }
  }
}

///////////////////// MOB ///////////

#meet-lucy, #who-is-lucy{
  h4{
    font-weight: 300;
  }
  .nav-pills{
    .nav-link{
      border-radius: 50%;
      width: 12px;
      height: 12px;
      padding: 0;
      background-color: lighten($c-primary,15%);;
      &.active{
        background-color: $c-primary;
      }
    }
  }
}

#home_slider_two--copy-mob, #copyMobSlider{
  .content-copy{
    max-width: 100%;
    @include responsive-md{
      max-width: 60%;
    }
  }
}

#video-section{
  overflow: hidden;
  position: relative;
  .video-thumb{
    width: 50%;
    position: absolute;
    &.left{
      left: 0;
    }
    &.right{
      right: 0;
    }
  }
  .author{
    position: absolute;
    color: white;
    font-size: .5rem;
    transform: rotate(-90deg);
    z-index: 2;
    top: 3rem;
    @include responsive-lg{
      transform: rotate(0deg);
      font-size: 0.65rem;
      top: 2rem;
    }
    &-left{
      left: -2rem;
      @include responsive-lg{
        left: 2rem;
      }
    }
    &-right{
      right: 0rem;
      @include responsive-lg{
        right: 2rem;
      }
    }
  }
}

#testimonials{
  .owl-item{
    display: flex;
    justify-content: center;
  }
  .owl-nav{
    display: flex;
    position: absolute;
    justify-content: space-between;
    top: 30%;
    right: 0;
    left: 0;
    width: 100%;
    margin: 0 auto;
    .owl-prev, .owl-next{
      margin: 0 0.5rem;
      font-size: 3.5rem;
      color: $c-primary;
      &:focus {
        outline:0;
      }
    }
  }
  .owl-dots{
    .owl-dot{
      background-color: $c-primary;
    }
  }
}

$sizeHexa: 270px;

.img-hexagon{
  position: relative;
  min-height: $sizeHexa;
  width: 100%;
  .icon{
    position: absolute;
    top: 43%;
    font-size: 3rem;
    right: 0;
    left: 0;
    margin: 0 auto;
    color: white;
    z-index: 4;
    transition: .35s;
  }
  .hexagon-clip{
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0 50%);
    width: $sizeHexa;
    height: $sizeHexa;
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    &-color{
      z-index: 3;
      background-image: linear-gradient(53deg, #5569EA 10%, #8D4DEB 98%);
       background-blend-mode: screen;
       opacity: 0.1;
    }
    &-img{
      background-size: cover;
      background-position: center;
    }

  }
  &:hover{
    .icon{
      font-size: 3.5rem;
      transition: .35s;
    }
  }
}

#modal-founder{
  .modal-content{
    border: none;
    border-radius: 0;
    .modal-body{
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
  .img-founder{
    background-size: cover;
    background-position: center top;
    min-height: 250px;
  }
  .modal-header{
    padding: 0;
    border-bottom: none;
    .close{
      color: $c-primary;
      font-size: 2rem;
      padding: 1rem 0;
      &:hover{
        color: $bg-navy;
      }
    }
  }
}
