#newsletter-form{
  .form-control{
    background-color: white;
    color: $gray-md;
    border-color: $c-primary;
    &::placeholder{
      color: $gray-md;
    }
  }
  #button-addon{
    background-color: $c-primary;
    border-radius: 0;
    color: white;
    border-color: $c-primary;
    transition: .35s;
    width: 100%;
    &:hover{
      background-color: $c-secondary;
      border-color: $c-secondary;
      transition: .35s;
    }
  }
}

.embed-responsive-21by9::before {
    padding-top: 35%;
}


@keyframes arrow-movement {
  0% {
      opacity: 0;
      top: 45%;
  }
  70% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

.scroll-down{
  height: 60px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

$ani-speed: 2s;
$ani-delay: 1s;


.arrowscroll {
  opacity: 0;
  position: absolute;
  left: 49%;
  top: 0;
  transform-origin: 50% 50%;
  transform: translate3d(-50%, -50%, 0);
}

.arrowscroll-first {
  animation: arrow-movement $ani-speed ease-in-out infinite;
}
.arrowscroll-second {
  animation: arrow-movement $ani-speed $ani-delay ease-in-out infinite;
}

.arrowscroll:before,
.arrowscroll:after {
  background: #fff;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
}

.arrowscroll:before {
  transform: rotate(45deg) translateX(-20%);
  transform-origin: top left;
}

.arrowscroll:after {
  transform: rotate(-45deg) translateX(20%);
  transform-origin: top right;
}