.team-members {
    .item {
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: $purple-over;
            cursor: pointer;
            a,
            h6,
            p {
                color: white;
            }
        }
    }
}

.img-square-fluid {
    width: 100%;
    margin: 0 auto;
    &::before {
        display: block;
        width: 100%;
        padding-bottom: 120%;
        content: "";
    }
    img {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &.founder{
        @include responsive-lg{
            img{
                height: 86%;
            }
          }
    }
}
