@media (min-width: 375px){
  .mobile-cover{
    .shape{
      width: 115%;
    }
    .copy{
      .row{
        padding-bottom: 1rem;
      }
      .title{
        .line{
          &-b{
            margin-top: .9rem;
          }
        }
      }
      h1{
        font-size: 2rem;
        line-height: 1.8rem;
        margin-bottom: 1.5rem;
      }
    }
  }
  #mobslide{
    .item{
      &_img{
        height: 60vh;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .mobile-cover{
    .shape{
      width: 100%;
      left: 0;
      right: 0;
      bottom: -10%;
    }
  }
  .img-hexagon{
    .hexagon-clip{
      width: 300px;
      height: 300px;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cover-page{
    .container{
      min-height: 300px;
    }
  }
  .mobile-cover{
    .shape{
      bottom: -15%;
    }
    .copy{
      .row{
        padding-bottom: 4rem;
      }
      .title{
        .line{
          &-b{
            margin-top: 1rem;
          }
        }
      }
      h1{
        font-size: 2.2rem;
        padding-bottom: 1rem;
      }
      p{
        font-size: 1.3rem;
      }
    }
  }
  #modal-founder{
    .img-founder{
      min-height: 350px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cover-page{
    .container{
      min-height: 70vh;
    }
  }
  #newsletter-form{
    #button-addon{
      max-width: 100px;
    }
  }
  #video-section{
    .video-thumb{
      width: 40%;
      &.left{
        left: -5%;
      }
      &.right{
        right: -5%;
      }
    }
  }
  .site-header{
    .site-branding{
      .logo{
        max-width: 100px;
      }
    }
  }

}

@media (min-width: 1024px){
  .cover-page{
    .shape{
      width: 65%;
      left: -15%;
    }
    .container{
      min-height: 50vh;
    }
  }
  #homecover{
    .item_img {
      height: 50vh;
      background-position: right center;
    }
  }

}

@media (min-width: 1024px) and (orientation: landscape) {

  #homecover{
    .item_img {
      height: 85vh;
      background-position: right center;
    }
  }
}




// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cover-page{
    .shape{
      width: 55%;
      left: -5%;
    }
    .container{
      min-height: 100vh;
    }
  }
  #homecover{
    .item_img {
      height: 100vh;
    }
  }
  #video-section{
    .container{
      min-height: 782px;
      height: 90vh;
    }
    .video-thumb{
      width: 35%;
      &.left{
        left: 0%;
      }
      &.right{
        right: 0%;
      }
    }
  }
  .embed-responsive-21by9::before {
      padding-top: 25%;
  }

  .item-podcast{
    .excerpt{
      width: 90%;
      margin: 0 auto;
    }
  }
  #testimonials{
    .owl-nav{
      right: -5%;
      left: -5%;
      width: 110%;
    }
  }
  .modal-lg{
    max-width: 1200px;
  }
}

@media (min-width: 1300px) {
  .cover-page{
    .shape{
      width: 58%;
    }
  }
}

@media (min-width: 1360px) and (min-height: 1024px) {

  #homecover{
    right: 0;
    .item_img {
      height: 100vh;
    }
    
  }
  .cover-page{
    .shape{
      width: 65%;
      left: -20%;
    }
  }
}

@media (min-height: 850px) and (min-width: 1400px) {
  .cover-page{
    .shape{
      width: 55%;
    }
  }
}
