.tx{
  &-xs{
    font-size: 0.6rem;
  }
  &-xsm{
    font-size: 0.7rem;
    @include responsive-sm{
      font-size: 0.85rem;
    }
  }
  &-ss{
    font-size: 0.85rem;
  }
  &-s{
    font-size: 0.9rem;
  }
  &-sx{
    font-size: 1rem;
  }
  &-sm{
    font-size: 1.1rem;
  }
  &-md{
    font-size: 1.3rem;
  }
  &-h3{
    font-size: 1.55rem;
  }
  &-lg{
  font-size: 1.6rem;
  }
}

.tx-wh{
  &-3{
    font-weight: 300;
  }
  &-4{
    font-weight: 400;
  }
  &-5{
    font-weight:500;
  }
  &-6{
    font-weight: 600;
  }
}

.tx-lts{
  &-xs{
    letter-spacing: 1px;
  }
  &-sm{
    letter-spacing: 2px;
  }
  &-md{
    letter-spacing: 2.6px;
  }
  &-lg{
    letter-spacing: 3px;
  }
}

h1, h2, h3, h4, h5{
  font-weight: 600;
}

h1{
  font-size: 2.2rem;
  &.title{
    letter-spacing: 2px;
  }
}

h2{
  letter-spacing: 2px;
  font-size: 1.5rem;
}


.tx{
  &-grey{
    color: $gray-md;
  }
  &-secondary{
    color: $c-secondary;
  }
  &-primary{
    color: $c-primary;
  }
  &-purple{
    color: $purple;
  }
}

.text-calibre{
  font-family: $calibre, sans-serif;
}

.text-avenir{
  font-family: $avenir, sans-serif;
}

.text-roboto{
  font-family: $roboto, sans-serif;
}

.tx-inter{
  line-height: 17px;
}

.title{
  .line{
    width: 70px;
    display: block;
    height: 2px;
    margin: 0 auto;
    border-top: 2px solid;
    &-t{
      margin-bottom: 1.5rem;
    }
    &-b{
      margin-top: 1rem;
    }
  }
}

.link{
  &-none{
    &:hover{
      text-decoration: none;
    }
  }
  &-white{
    a{
      color: white;
      &:hover{
        color: white;
      }
    }
  }
}
