@font-face {
    font-family: 'Calibre';
    src: url('fonts/Calibre-Bold.woff2') format('woff2'), url('fonts/Calibre-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('fonts/AvenirNext-Medium.woff2') format('woff2'), url('fonts/AvenirNext-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('fonts/AvenirNext-Bold.woff2') format('woff2'), url('fonts/AvenirNext-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('fonts/AvenirNext-Regular.woff2') format('woff2'), url('fonts/AvenirNext-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


$bg-navy: #060640;

$blue-over: rgba(14,14,61,0.70);
$purple-over: rgba(148,131,255,0.80);

$bg-gray: #F1F1F1;

$purple: #CF89FF;

$c-primary: #4C45FF;
$c-secondary: #7E00BA;

$gray-md: #4A4A4A;

$tx-xs: 0.85rem;
$tx-s: 0.9rem;
$tx-rg: 1rem;

$roboto: 'Roboto';
$calibre: 'Calibre';
$avenir: 'Avenir Next';

$bg-gradient: linear-gradient(53deg, #5569EA 10%, #8D4DEB 98%);

@mixin responsive-sm {
    @media (min-width: 375px) { @content; }
}

@mixin responsive-sm-l {
    @media (min-width: 424px) { @content; }
}

@mixin responsive-md-x {
    @media (min-width: 576px) { @content; }
}

@mixin responsive-md {
    @media (min-width: 768px) { @content; }
}

@mixin responsive-lg {
    @media (min-width: 1023px) { @content; }
}

@mixin responsive-xl {
    @media (min-width: 1200px) { @content; }
}

@mixin ios-support {
    /* CSS specific to iOS devices */
    @supports (-webkit-touch-callout: none) {
        @content;
    }
}

@mixin ios-notsupport {
   /* CSS for other than iOS devices */ 
    @supports not (-webkit-touch-callout: none) {
        @content;
    }
}